.logo
  width: 200px
  margin: 0 auto
  display: block

.teaser
  margin: 5rem 0

  .hero
    font-size: 3rem
    text-align: center
    margin: 2rem 0

    p
      margin: 1rem 0

h2
  text-align: center

.box-wrapper
  margin: 2rem 0
