@import "../../bower_components/normalize.css/normalize.css"
@import "../../bower_components/milligram/dist/milligram.css"

#content
  padding-top: 5rem
  padding-bottom: 1rem

iframe
  border: none

header
  padding: 2rem
  overflow: hidden

  .logo
    width: 7rem

  nav
    float: right
    margin: 2rem 0

    a
      margin: 0 1rem
      color: black

      &.active
        font-weight: bold

footer
  a
    color: inherit

  &.container
    padding-top: 2rem
    padding-bottom: 2rem

  .icon
    width: 2rem
    height: 2rem

  #icon-heart
    width: 1.5rem
    height: 1.5rem
    fill: yellow

  .social
    float: right

.box-wrapper
  @import boxes

.section-home
  @import home

.section-nixlos
  @import nixlos

.section-festival
  @import festival