@import "../../bower_components/normalize.css/normalize.css"
@import "../../bower_components/milligram/dist/milligram.css"

#content
  padding-top: 5rem
  padding-bottom: 1rem

iframe
  border: none

footer
  &.container
    padding-top: 2rem
    padding-bottom: 2rem

  .icon
    width: 2rem
    height: 2rem

  #icon-heart
    width: 1.5rem
    height: 1.5rem
    fill: yellow

  .social
    float: right

.box-wrapper
  @import boxes

.section-home
  @import home

.section-nixlos
  @import nixlos

.section-festival
  @import festival